::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
html,
body {
  height: 100%;
}
.col-logo {
  height: 50px;
}
a.active {
  color: #922521 !important;
  font-weight: 700;
  text-shadow: 1px 1px 1px #aaa;
}
@media screen and (min-width: 1024px) {
  .col-logo {
    height: 50px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .col-logo {
    width: 40vw;
    height: auto;
  }
}
@media screen and (max-device-width: 640px) {
  .col-logo {
    width: 60vw;
    height: auto;
  }
  .navbar {
    padding: 15px 0px;
  }
  .navbar-nav {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }
  .nav-item {
    font-size: 18px !important;
  }
  a.active {
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    background-color: #922521;
  }
}
.nav-item {
  font-size: 16px;
  font-weight: 600;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border: none;
}
.carousel-item {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1s;
}
.carousel-indicators{
    right:5px !important;
    margin: 0 3% 1% auto !important;
    left:auto !important;
    padding: 3px 0px !important;
    flex-direction:column-reverse !important;
    background-color: #ffffff44;
    border-radius: 8px;
}
.carousel-indicators [data-bs-target]{
    background-color:#fff;
    width:13px !important;
    border:1px solid #922521 ;
    height:13px !important;
    margin:3px;
    border-radius: 100% !important;
}
.welcome{
  text-align: center;
  color:#922521;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 800;
}
.content{
  font-size: 18px;
}
