::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
.col-logo {
  height: 50px;
}
a.active {
  color: #922521 !important;
  font-weight: 700;
  text-shadow: 1px 1px 1px #aaa;
}
nav{
  width:100vw !important;
}
@media screen and (min-width: 1024px) {
  .col-logo {
    height: 50px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .col-logo {
    width: 40vw;
    height: auto;
  }
}
@media screen and (max-device-width: 640px) {
  .col-logo {
    width: 60vw;
    height: auto;
  }
  .navbar {
    padding: 15px 0px;
  }
  .navbar-nav {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }
  .nav-item {
    font-size: 18px !important;
  }
  a.active {
    color: white !important;
    padding: 10px;
    border-radius: 5px;
    background-color: #922521;
  }
}
.nav-item {
  font-size: 16px;
  font-weight: 600;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 10px;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  background-color: #922521;
  transform: translate(15%, -33%) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg) ;
  background-color: #922521;
}
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg) ;
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg) ;
}
.carousel-item {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1s;
}
.carousel-indicators{
    right:5px !important;
    margin: 0 1.5% 1% auto !important;
    left:auto !important;
    padding: 3px 0px !important;
    flex-direction:column-reverse !important;
    border-radius: 8px;
}
.carousel-indicators [data-bs-target]{
    background-color:#ffffffdd;
    border: 2px solid #ffd;
    width:13px !important;
    height:13px !important;
    margin:3px;
    border-radius: 100% !important;
}
.welcome{
  text-align: center;
  color:#922521;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 800;
}
.content{
  font-size: 18px !important;
  text-align: justify !important;
  color:#222;
  font-weight: 500 !important;
}
.heading{
  font-size: 21px;
  color:#922521;
  border-left: 3px solid #922521;
  line-height: normal;
  padding-left: 10px;
  font-weight: 800;
}
.program{
  font-size: 20px;
  font-weight: 600;
  color: #922521;
  text-decoration:underline;
}
.events{
  border:1px solid #ddd;
  box-shadow: 2px 4px 4px #f0f0f0;
  border-radius: 7px;
  padding: 10px;
  min-height: 300px;
}
.event{
  border:1px solid #ddd;
  box-shadow: 2px 4px 8px #ddd;
  margin:5px;
  border-radius: 7px;
}
.eventimg{
  height: 150px;
  overflow: hidden;
  border-radius: 7px 7px 0px 0px;
}
.eventimg img {
  transition: transform .9s ease;
}
.eventimg:hover img {
  transform: scale(1.5);
}
.eventp{
  text-align: center;
  font-weight: 700;
  color:darkred;
  padding-top:5px;
  font-size: 16px;
}
.eventpdate{
  text-align: center;
  font-weight: 600;
  color:gary;
  font-size: 14px;
}
.news{
  border:1px solid #ddd;
  box-shadow: 2px 4px 4px #f0f0f0;
  border-radius: 7px;
  padding: 10px;
  min-height: 325px;
}
.holder { 
  background-color:#f9f9f9;
  padding:2px;
  border-radius: 5px;
  overflow:hidden;
  height: 100%;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 2px;
  height:210px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:#922521;
  text-decoration:none;
}